<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ app_name }} | {{ title }}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/admin/css/animate.min.css" rel="stylesheet"/>
    <link href="/public/admin/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/public/admin/css/themify-icons.css" rel="stylesheet">

    {% block css %} {% endblock css %}

</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="black" data-active-color="success">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    <img src="{{ base_url() }}/public/imgs/logo.png" width="65px" alt="logo">
                 </a>
            </div>

            <ul class="nav">

                <li class="active"><a href="/dashboard"> <i class="fas fa-chart-line"></i> <p>Dashboard</p> </a> </li>
                <li><a href="/incoming"> <i class="far fa-money-bill-alt"></i> <p>Incoming</p> </a> </li>
                <li><a href="/outgoing"> <i class="far fa-money-bill-alt"></i> <p>Outgoing</p> </a> </li>
                <li><a href="/downliners"> <i class="fas fa-sort-amount-down"></i> <p>Downliners</p> </a> </li>
                <li><a href="/upliners"> <i class="fas fa-sort-amount-up"></i> <p>Upliners</p> </a> </li>
                <li><a href="/structure"> <i class="fas fa-project-diagram"></i> <p>Structure</p> </a> </li>
                <li><a href="/account"> <i class="fas fa-money-check"></i> <p>My Account</p> </a> </li>
                <li><a href="/profile"> <i class="far fa-address-card"></i>  <p>My Profile</p> </a> </li>

                {% if auth.user.role == 2 %}

                <li><a href="/admin"> <i class="fas fa-user-lock"></i>  <p>New Admin</p> </a> </li>
                <li><a href="/users"> <i class="fas fa-user-lock"></i>  <p>Manage Users</p> </a> </li>
                <li><a href="/orders"> <i class="fas fa-user-lock"></i>  <p>Manage Orders</p> </a> </li>

                {% endif %}

            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-ct-theme">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{ title }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">0</p>
									<p>Inbox</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Short Message</a></li>
                              </ul>
                        </li>

                        <li><a href="/logout"> <i class="fas fa-sign-out-alt"></i> <p>Logout</p> </a> </li>

                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    {% include( 'partials/flash.twig' ) %}

                    {% block content %} {% endblock content %}

                </div>
            </div>
        </div>

        {% include( 'partials/footer.twig' ) %}

    </div>
</div>


</body>

    <script src="/public/admin/js/jquery-1.10.2.js"></script>
	<script src="/public/admin/js/bootstrap.min.js"></script>
    <script src="/public/admin/js/bootstrap-notify.js"></script>
    <script src="/public/admin/js/dashboard.js"></script>

    {% block js %} {% endblock js %}


</html>
