{% extends "front.twig" %}

{% block content %}

	<section class="services-page">
	    <div class="layer">
	        <div class="container">
				<div class="card-body">

					<div class="card-header">
						<h4>About US</h4>
					</div>

					<div class="card-body">
				
						The Fighting Poverty Network is a
						community of like-minded individuals
						who are striving to eventually achieve
						financial freedom through a
						crowdfunding peer to peer system.
						All donations go to the member!
						<ul>
						<li>Payment method Local Banks</li>
						<li>Automated spillover</li>
						<li>12 hours to make payment. If payment is not made within time frame you will be deleted</li>
						<li>Ability to view where your upgrades are coming from</li>
						<li>Multiple accounts allowed</li>
						<li>Online support available from 7am</li>
						- 11pm
						</ul>

					</div>

				</div>
			</div>
		</div>

	</section>

{% endblock %}